.mainContainer {
    height: 100%;
    padding: 1rem 2rem;
}

.shopHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0rem;
}

.sortContainer {
    width: 8rem;
    font-family: monospace;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    width: 100%;
}

.monospaceStyle {
    font-family: monospace;
    font-size: 0.8rem;
}