.mainContainer {
    display: grid;
    grid-template-columns:  10fr 1fr;
    grid-template-rows: 3fr ;
    width: 100%;
    gap: 1rem;
}

.picture {
    height: 4rem;
    width: 4rem;
    object-fit: contain;
}

.title {
    font-family: monospace;
    font-size: .8rem;
    padding-bottom: 1rem;
}

.left {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    

    padding: .2rem .9rem;
    font-size: 1rem;
    font-family: monospace;
    width: 55%;
    border-radius: 1rem;
    border: 1.5px solid rgb(56, 116, 203);
    text-align: center;
    margin-left: .2rem;
}

.price {
    align-self: flex-end;
    font-family: monospace;
    font-weight: bold;
    font-size: 1rem;
    width: 5rem;
}

.divider {
    width: 90%;
    opacity: .2;
    grid-column-start: -4;
    grid-column-end: 3;
}