.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5rem;
    padding: 0 2rem;    
}

.navContainer,
.iconsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navContainer {
    gap: 3rem;
    font-family: monospace;
}

.badge {
    border: 2px solid white;
}

.logo {
    font-weight: bold;
    font-size: 1.3rem;
}

a > div:hover,
.underlined {
    transition: all .5s ease;
    position: relative;
}

a > div:hover::after,
.underlined::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #000;
}